/*Para mi encabezado*/
header {
	padding: 5px;
	background-color: #1661A5;
	margin: 0 auto;
	text-align: center;
}

/*Le pongo tamaño a mi imagen trello*/
img {
	width: 100px;
}

body {
	background-color: #1483E9;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}

h4 {
	margin: 5px;
}

.primer-Input{
	cursor: pointer;/*Para que al seleccionar mi input aparezca el cursor en forma de manito*/
}
/*Para que mi boton guardar no aparezca */
button{
    display: none;
}


/*Para que se visualice mi boton al hacer clic en mi input*/
.show {
	display:inline-block;/*Hace que el elemento genere una caja de bloque.*/
   	margin:5px;
	background-color: #61BD4F;
	color: white;
}
.show2 {
	display:inline-block;/*Hace que un elemento se represente como una caja seguida de forma fluida, por un contenido, como si formase parte de la misma caja.*/
   	outline: none;
	background-color: transparent;
	color: gray;
    font-weight: 700;
}


.contenedor-lista {
	display: inline-block;/*Hace que un elemento se represente como una caja seguida de forma fluida, por un contenido, como si formase parte de la misma caja.*/
	margin: 5px 10;
    background-color: whitesmoke;
	margin: 5px;
	border-radius: 5px; 
}

/*Para que mi nuevo input aparezca al costado lo estoy en lazando con mi id lista-contenifo que está en mi archivo js en mi funcion guardar lista*/

.lista-contenido {
	background-color: whitesmoke;
	display: block;
    float: left; /*float: Lo que hace la propiedad es quitar al elemento del flujo normal de la página y colocarlo a la izquierda o derecha del resto del contenido de su elemento padre*/
	margin: 5px;
	border-radius: 5px;
}
