header {
	padding: 5px;
	background-color: #0082A0;
	margin: 0 auto;
	text-align: center;
}

img {
	width: 80px;
}

body {
	background-color: #1483E9;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}

h4 {
	margin: 5px;
}

.primer-Input{
	cursor: pointer;
}
button{
    display: none;
}
/*.boton-guardar {
	display: none;
	margin:5px;
	background-color: #61BD4F;
	color: white;
}

.btnX{
    display: none;
	margin:2px;
	background-color: red;
	color: gray;
    
}*/
.show {
	display:block;
   
	margin:5px;
	background-color: #61BD4F;
	color: white;
}

.contenedor-lista {
	display: inline-block;
	margin: 5px 10;
    background-color: whitesmoke;
	margin: 5px;
	border-radius: 5px;
}

.lista-contenido {
	background-color: whitesmoke;
	display: block;
	float:left;
	margin: 5px;
	border-radius: 5px;
}
